{:cljs-version "1.9.456"
 :builds {:tool {:src "src"
                 :compiler {:target :nodejs
                            :optimizations :simple
                            :output-to "target/tool.js"}}}}
